<body class="hotel">
	<nav class="navbar navbar-expand-lg bg-dark navbar-static">
		<div class="container-fluid container">
		  <img src="/Public/images/Logo.png" alt="Smart booking Logo">
		  <a class="navbar-brand white" href="/">Smart Flight</a>
		  <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="ml-auto collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
			  <li class="nav-item">
				<a class="nav-link active white" aria-current="page" href="/">Flight Booking</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link white" href="/hotel">Hotel Booking</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link white" href="/visa" tabindex="-1" aria-disabled="true">Visa Services</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link white" href="/contact" tabindex="-1" aria-disabled="true">Contacts</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link white btn btn-danger" href="/about" tabindex="-1" aria-disabled="true">About</a>
			  </li>
			  <!-- <li class="nav-item">
				<a class="nav-link white" href="/contact" tabindex="-1" aria-disabled="true">Contact</a>
			  </li> -->
			  <li class="nav-item">
				<!-- <a class="nav-link white" href="/login" tabindex="-1" aria-disabled="true"><i class="fa fa-login"> Login</i></a> -->
			  </li>
			</ul>
			<!-- <form class="d-flex">
			  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
			  <button class="btn btn-outline-success" type="submit">Search</button>
			</form> -->
		  </div>
		</div>
	  </nav>
	<script>
		var cities = fetch('https://countriesnow.space/api/v0.1/countries', ()=>{
		}).then
	</script>
	<%- include('partials/header') %>
	<div class="middle-item">
		<div class="row container-fluid">
			<div class="col-md-5">
				<div class="booking-cta">
					<h1 class="h1">Reserve your <span style="color: red;">World Class</span> Hotels <hr></h1>
					<p>You deserve the best treat, the best comfort and a HEAVENLY ENVIRONMENT with all its calmness to make your vacation</p>
				</div>
			</div>
			<div class="col-md-6 col-md-offset-1">
				<div class="booking-form">
					<form method="get" action="/hote/hotelsearch">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input class="form-control" type="text">
									<span class="form-label">Name</span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input class="form-control" type="email">
									<span class="form-label">Email</span>
								</div>
							</div>
						</div>
						<div class="row">
						<div class="col-md-6">
								<div class="form-group">
									<input class="form-control" type="tel">
									<span class="form-label">Phone</span>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="form-group">
									<span class="form-label">Rooms</span>
									<select class="form-control">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
									<span class="select-arrow"></span>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="form-group">
									<span class="form-label">Guests</span>
									<select class="form-control">
										<option>1 Person</option>
										<option>2 People</option>
										<option>3 People</option>
                                        <option>4 People</option>
										<option>5 People</option>
									</select>
									<span class="select-arrow"></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input class="form-control" type="date" required>
									<span class="form-label">Check In</span>
								</div>
							</div>
							<div class="col-md-6">
								<span class="form-label">Location</span>
								<input class="form-control" type="text" placeholder="Location">
							</div>
						</div>
						<div class="form-btn">
							<button class="submit-btn">Search for Rooms</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<hr style="margin-top: 50%;">
    <%- include('partials/footer') %>