    <%- include('partials/header') %>
	<div class="middle-item">
		<div class="row container-fluid">
			<div class="col-md-5">
				<div class="booking-cta">
					<h1 class="h1">Reserve your <span style="color: red;">World Class</span> Hotels <hr></h1>
					<p>You deserve the best treat, the best comfort and a HEAVENLY ENVIRONMENT with all its calmness to make your vacation</p>
				</div>
			</div>
			<div class="col-md-6 col-md-offset-1">
				<div class="booking-form">
					<form method="get" action="/hote/hotelsearch">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input class="form-control" type="text">
									<span class="form-label">Name</span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input class="form-control" type="email">
									<span class="form-label">Email</span>
								</div>
							</div>
						</div>
						<div class="row">
						<div class="col-md-6">
								<div class="form-group">
									<input class="form-control" type="tel">
									<span class="form-label">Phone</span>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="form-group">
									<span class="form-label">Rooms</span>
									<select class="form-control">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
									<span class="select-arrow"></span>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="form-group">
									<span class="form-label">Guests</span>
									<select class="form-control">
										<option>1 Person</option>
										<option>2 People</option>
										<option>3 People</option>
                                        <option>4 People</option>
										<option>5 People</option>
									</select>
									<span class="select-arrow"></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input class="" type="date" required>
									<span class="form-label">Check In</span>
								</div>
							</div>
							<div class="col-md-6">
								<span class="form-label">Location</span>
								<select class="form-control">
									<option></option>
								</select>
							</div>
						</div>
						<div class="form-btn">
							<button class="submit-btn">Search for Rooms</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-w3l">
		<p class="agileinfo" style="color: white;"> &copy; 2022 Smart Flights . All Rights Reserved | Design by ------- <a style="color: white" href="http://github.com/stephennnamani">Nnamani Stephen</a></p>
	</div>
    <%- include('partials/footerH') %>