<%- include('partials/header') %>

<div class="container jumbotron visa">
    <div class="row">
        <div class="col-6">
            <h3 style="text-align: right;">Book A Visa Session <br>with us</h3>
        </div>
        <div class="col-6">
            <form action="https://wa.me/message/RSZ6HMJUBT7O1" method="post">
                <hr style="color: white;">
                <p><em>Ping us on WhatsApp now!</em></p>
                <button class="btn btn-success"><i class="fas fas-whatsapp" aria-hidden="true"></i> <strong>WhatsApp US</strong></button>
            </form>
        </div>
    </div>
</div>
<div class="footer-w3l">
    <p class="agileinfo" style="color: white;"> &copy; 2022 Smart Flights . All Rights Reserved | Design by ------- <a style="color: white" href="http://github.com/stephennnamani">Nnamani Stephen</a></p>
</div>
<%- include('partials/footer') %>